{% if entry.created or entry.updated or entry.categories or entry.tags %}
  <div class="meta">
    {% if entry.created %}
      <span>創建於
        <time datetime="{{ entry.created.strftime('%Y-%m-%d %H:%M:%S') }}">{{ entry.created.strftime('%Y-%m-%d') }}</time></span>
    {% endif %}
    {%- if entry.updated and entry.updated != entry.created -%}
      {%- if entry.created -%}
        <span>，</span>
      {%- endif -%}
      <span>更新於
        <time datetime="{{ entry.updated.strftime('%Y-%m-%d %H:%M:%S') }}">{{ entry.updated.strftime('%Y-%m-%d') }}</time></span>
    {% endif %}
    {% if entry.categories %}
      <br>
      <span>分類：
        {%- for category in entry.categories -%}
          {%- if loop.index > 1 -%}
            <span>、</span>
          {%- endif -%}
          <a href="{{ url_for('.category', category_name=category) }}">{{ category }}</a>
        {%- endfor -%}
      </span>
    {% endif %}
    {% if entry.tags %}
      <br>
      <span>標籤：
        {%- for tag in entry.tags -%}
          {%- if loop.index > 1 -%}
            <span>、</span>
          {%- endif -%}
          <a href="{{ url_for('.tag', tag_name=tag) }}">{{ tag }}</a>
        {%- endfor -%}
      </span>
    {% endif %}
  </div>
{% endif %}